.game-log {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 300px;
    height: 20%;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid;
    .log-entry {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }
}