.player-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.split-card-slider-section {
    border: 1px solid;
    padding: 10px;
    gap: 10px;

    .inner-wrapper {
        padding: 10px;
    }

    .hold-wrapper {
        margin-right: auto;
        border: 1px solid;
        height: 100%;
    }

    .card-slide-wrapper {
        flex: 1;
        border: 1px solid;
        height: 100%;
        gap: 10px;
    }
}

.tiny-card {
    width: 150px;
    height: 200px;
    padding: 5px;
    border: 2px solid black;
}

.player-hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    border: 2px solid;
    width: 100%;
    min-height: 200px;
}